#container {
  display: flex;
}
#textarea {
  float: right;
  height: 555px;
  width: 60%;
  margin-top: 170px;
  background-color: #d9d9d9;
  margin-right: 300px;
}
#blocklyDiv {
  height: 560px;
  width: 100%;
  margin-top: 170px;
  margin-left: 230px;
  float: left;
}
#logic {
  width: 1px;
}
#toolbox {
  display: none;
}